@import (less) '../../bower_components/bootswatch-dist/css/bootstrap.css';
@import '../../bower_components/toastr/toastr';
@import (less) '../../bower_components/magnific-popup/dist/magnific-popup.css';
@import (reference) '../../bower_components/bootstrap/less/mixins/buttons.less';
@import (reference) './write.less';
@import (less) '../../bower_components/jointjs/joint.css';
@import (less) '../../node_modules/quill/dist/quill.snow.css';
@import (less) './Quill/styles.css';
@import (less) './Quill/syntax.css';
@import (less) '../../node_modules/react-bootstrap-table/css/react-bootstrap-table.min.css';

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 180px;
  z-index: 100;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #3b3f51;
  height: 190px;
}

footer a {
  color: #fff;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
  }
}

.navbar {
  margin-bottom: 0px;
}
.front-banner {
  background-image: url("../img/homebackground.jpg");
  background-position: 50% 0%;
  height:350px;
  padding-top: 50px;
}

.front-banner a {
  color: white;
}

.banner-button {
  margin-top: 10px !important;
}

.banner-text {
  font-size: 120%;
  margin-top: 1%;
}

.banner-span {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 3vmin;
  padding: 3px 7px;
}

.banner-span-main {
  font-size: 4vmin;
}

.front-img {
  max-height: 200px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.main-content {
  padding-bottom: 15px;
}

.under-text {
  font-style: italic;
  font-size: 10px;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.container-box {
    padding: 10px 15px 10px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px;
}

@btn-blue-color: #4e69a2;
@btn-light-blue-color: #55acee;
@btn-red-color: #d73d32;

.btn-blue {
  .button-variant(@btn-blue-color; @btn-blue-color; @btn-blue-color);
  color: white !important;
}

.btn-light-blue {
  .button-variant(@btn-light-blue-color; @btn-light-blue-color; @btn-light-blue-color);
  color: white !important;
}

.btn-red {
  .button-variant(@btn-red-color; @btn-red-color; @btn-red-color);
  color: white !important;
}

.title-input {
  border-radius: 0px;
}

.ql-editor {
  min-height: 300px !important;
}

/*.paper-container {
  overflow: auto;
}
*/
#paper {
   position: relative;
   border: 1px solid gray;
   display: inline-block;
   background: transparent;
}
#paper svg {
   background: transparent;
}
#paper svg .link {
   z-index: 2;
}

.diagram-control {
  padding-top: 5px;
}
.diagram-control .glyphicon {
  font-size: 1.8em;
  cursor: pointer;
  padding-right: 5px;
}
.passage-element {
   position: absolute;
   background: #ffffff;
   /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
   pointer-events: none;
   -webkit-user-select: none;
   border: 1px solid #000000;
   padding: 5px;
   box-sizing: border-box;
   z-index: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
.passage-element button {
   /* Enable interacting with inputs only. */
   pointer-events: auto;
}
.passage-element button.delete {
    border: none;
    width: 20px;
    height: 20px;
    text-align: middle;
    position: absolute;
    left: 80%;
    padding: 0;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
 }
.passage-element button.delete:hover {
   width: 20px;
   height: 20px;
   line-height: 20px;
}
.passage-element select {
   position: absolute;
   right: 2px;
   bottom: 28px;
}
.passage-element input {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   border: none;
   color: #333;
   padding: 5px;
   height: 16px;
}
.passage-element label {
   color: black;
   font-weight: bold;
}
.passage-element span {
   position: absolute;
   top: 2px;
   right: 9px;
   color: white;
   font-size: 10px;
}

.passage-element hr {
   margin-top: 0px;
   margin-bottom: 0px;
}

.passage-element p {
  word-wrap: break-word;
}

.element .element-tools, .element .conditions, .element .events {
  display: none;
  cursor: pointer
}

.element:hover .element-tools, .element:hover .conditions, .element:hover .events {
  display: inline;
}

.ChoiceElement .label {
  font-weight: normal;
}

.AddChoiceElement:hover {
  cursor: pointer;
}

.graph-wrapper {
  background: white;
}

#attribute-sidebar-wrapper, #sidebar-wrapper {
    float:left;
    position: fixed;
    height: 100%;
    margin-top: -52px;
    overflow-y: auto;
    background: #dd4814;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#attribute-sidebar-wrapper {
  z-index: 1;
  width: 500px;
}

#sidebar-wrapper {
    width: 185px;
}

.sidebar-padder {
  height: 52px;
  visibility: hidden;
}
.sidebar p a {
  color: white;
  font-style: italic;
}

.sidebar li a {
  font-size: large;
}

.sidebar p {
  padding-left: 10px;
  padding-right: 10px;
}

.react-bs-table-container .editor {
  visibility: visible;
}

/*@btn-primary-color: #dd4814;
@btn-success-color: #38b44a;
@btn-danger-color: #df382c;

.react-bs-table-add-btn {
  .button-variant(@btn-success-color; @btn-success-color; @btn-success-color) !important;
  color: white !important;
}

.react-bs-table-tool-bar .btn-info {
  .button-variant(@btn-primary-color; @btn-primary-color; @btn-primary-color) !important;
  color: white !important;
}

.react-bs-table-tool-bar .btn-warning {
  .button-variant(@btn-danger-color; @btn-danger-color; @btn-danger-color) !important;
  color: white !important;
}
*/
.sidebar-nav {
/*    position: absolute;*/
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background-color: #97310e;
}

.sidebar-nav .input-group {
    padding-left: 5px;
    padding-right: 5px;
    z-index: 0;
}

@media(max-width:768px) {
    #sidebar-wrapper {
        width: 0;
    }
}

.react-bs-table-tool-bar .modal-dialog {
  margin-top: 60px;
}
.react-bs-table {
  background: white;
}
.modal-backdrop {
  z-index: 0;
}

.hidden {
  display: none;
}

.read-container {
  background: #BDBDBD;
  font-size: 16px;
  font-family: Baskerville, Georgia, Times, "Times New Roman", serif;
}
.read-passage {
  background: white;
  border-color: #ddd;
  border-width: 1px;
  /*border-radius: 4px 4px 0 0;*/
  border-style: solid;
  padding: 20px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
}

.read-container .row:first-child .read-passage {
  margin-top: 20px;
}

.read-passage img {
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.read-choice {
  padding-top: 10px;
  font-size: 22px;
  font-style: italic;
  cursor: pointer;
}

.read-choice:hover {
  color: gray;
}

.read-choice-chosen {
  font-style: italic;
  font-weight: bold;
  color: gray;
  padding-top: 10px;
}

.read-actions {
  position: fixed;
}